.menu {
  position: relative;
}
.menu-content {
  position: absolute;
  top: 100%;
  z-index: 10;
  background: #fff;
  min-width: 10rem;
  &.pin-left {
    left: 0;
  }
  &.pin-right {
    right: 0;
  }
}