@import "~@edx/edx-bootstrap/scss/edx-bootstrap";


$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import '../../src/scss/index.scss';

.desktop {
  .main-menu-courses {
    ul {
      column-count: 4;
      padding: 0;
      list-style: none;
    }
  }
}


.mobile {
  .courses-sliding-menu,
  .programs-sliding-menu {
    ul {
      padding: 0;
      list-style: none;
    }
  }
}
