
@import '../Menu/menu.scss';
@import '../Avatar/index.scss';

$spacer: 1rem;
$blue: #007db8;
$white: #fff;

@import './mobile.scss';
@import './desktop.scss';

.dropdown-item a {
  text-decoration: none;
}
.site-header-mobile {
  .nav-link {
    text-decoration: none;
  }

}
.site-header {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  background: $white;
  .nav-link {
    text-decoration: none;
  }
}

.icon-button {
  display: inline-flex;
  line-height: 3rem;
  background: transparent;
  vertical-align: middle;
  text-align: center;
  border: none;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items:center;
  &:hover, &:focus {
    background: rgba(0,0,0,.1);
  }
}

.logo {
  img {
    height: 1.5rem;
  }
}